:root {
  --plum-color: #121212;
  --scarlett-color: #ce301e;
  --white-color: #fff;
  --mustard-color: #ff5a00;
  --green-color: #009688;
  --peacock-color: #b300b3;
  --clue-dark: #1d1d1d;
  --clue-muted: rgb(165, 156, 156);
  --clue-light: #e5e5e5;
}

.clue-text-shadow {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

.clue-text-muted {
  color: var(--clue-muted) !important;
}

.clue-container {
  background: url(/img/wallpaper.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clue-page {
  min-width: 200px !important;
  width: 1200px !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
