.bg-primary-75 {
  background: lighten($primary, 12.5%);
}
.bg-primary-50 {
  background: lighten($primary, 25%);
}
.bg-primary-25 {
  background: lighten($primary, 37.5%);
}
.bg-primary-10 {
  background: lighten($primary, 45%);
}

.bg-gray-500 {
  background: $gray500;
}
.bg-gray-800 {
  background: $gray800;
}

.bg-light {
  background: $light;
}

.text-gray-500 {
  color: $gray500;
}
.text-gray-800 {
  color: $gray800;
}

.title-size {
  font-size: $title-size;
}
.subtitle-size {
  font-size: $subtitle-size;
}
.subtitle2-size {
  font-size: $subtitle2-size;
}
.text-size {
  font-size: $text-size;
}
.caption-size {
  font-size: $caption-size;
}
